<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<h1>solo un cambio para git</h1>
<h1>otro cambio para ver usuario git</h1>
<h1>otro cambio para comprobar que ahora si funciono mi cambio de usuario en git</h1>
<body>
	<div th:text="${titulo}"></div>
	<ul>
	<li><a th:href="@{/variables/string/} + 'hola alex'">/variables/string/hola alex</a></li>
	<li><a th:href="@{/variables/string/} + 'hola alex22'">/variables/string/hola alex22</a></li>
	<li><a th:href="@{/variables/string/} + 'hola alex33' + '/' + 7">/variables/string/hola alex33/7</a></li>
	</ul>
</body>
</html>